sites: [localhost]

site.localhost {
    execution {
        type: "local"
        URL : "localhost"
    }
    staging             : direct
    workDirectory       : "~/Swift-Variant-Calling"
    maxParallelTasks    : 20
    initialParallelTasks: 20
    app.sampleInfoParser { executable: "~/Swift-Variant-Calling/SampleInfoParser.sh" }
}

TCPPortRange: "50000,51000"
lazyErrors: false
executionRetries: 0
keepSiteDir: true
providerStagingPinSwiftFiles: false
alwaysTransferWrapperLog: true
