sites:[comet]

site.comet {
    execution {
        type      : "coaster"                         # Use coasters to run on remote sites
        URL       : "comet.sdsc.xsede.org"            # Comet login URL - not used for local:slurm
        jobManager: "local:slurm"                     # use slurm commands to submit jobs locally
        options {
            maxJobs         : 4                       # Max jobs submitted to LRM
            nodeGranularity : 1                       # Nodes per job
            maxNodesPerJob  : 1                       # Nodes per job
            tasksPerNode    : 24                      # Tasks per Node
            maxJobTime      : "00:30:00"              # Time requested per job
	    jobQueue        : "compute"               # Submit to compute partition (from shared)
        }
    }
    staging             : "local"                     # Stage files from "local" fs to compute nodes
    workDirectory       : "/tmp/"${env.USER}"/swiftwork" # Work dir on compute nodes
    maxParallelTasks    : 101                         # Maximum number of parallel tasks
    initialParallelTasks: 100                         # Maximum number of tasks at start
    app.ALL { executable: "*" }                       # All apps to be found from commandline
}

TCPPortRange: "50000,51000"
lazyErrors: false
executionRetries: 4
keepSiteDir: true
providerStagingPinSwiftFiles: false
alwaysTransferWrapperLog: true
